{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Collections
{% endblock title %}

{% block content %}
<!-- collection -->
<div class="container-fluid py-5" >
    <div class="row">
        <div class="col">
            <h2 class="text-center">Our Collection</h2>
            <div class="container py-2 my-3">
                <div class="row">
                    {% for item in collections %}
                    <div class="col-md-3 text-center collection">
                        <a href="{% url 'collection_detail' item.id %}">
                            <div class="wrapper">
                                <img src="{{item.image.url}}" alt="{{item.name}}" class="img-fluid rounded-circle">
                            </div>
                        </a>
                        <a href="{% url 'collection_detail' item.id %}"
                            class="fs-4 fw-bold text-decoration-none">{{item.name}}</a>
                    </div>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block css %}
<style>
    .collection .wrapper {
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
    }

    .collection .wrapper img {
        transform: scale(1.5);
        aspect-ratio: 1/1;
        transition: all 0.35s ease-in-out;
    }

    .collection:hover img {
        transform: scale(1);
    }
</style>
{% endblock css %}