{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock %}

{% block content %}
<div class="left">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Login</h1>
            <p class="fs-6 text-center">access your account</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control form-control-lg" name="username" id="username"
                        aria-describedby="usernamehelpId" placeholder="John@cena.com" />
                    <small id="usernamehelpId" class="form-text text-muted">enter your registered credential</small>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control  form-control-lg" name="password" id="password"
                        placeholder="password" />
                </div>
                <div class="mb-3 text-end d-flex justify-content-between">
                    <a class="text-decoration-none my-2 fw-bold" href="{% url 'register' %}">Create account</a>
                    <button class="btn btn-dark">Login to Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="right">
    <div class="overlay">
        <div class="text">
            <h1 class="text-center display-1">Welcome Back</h1>
            <p class="text-center fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
            </p>
        </div>
    </div>
    <img src="{% static 'images/login_bg.jpg' %}" alt="">
</div>
{% endblock %}

