{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid px-0">
    <div class="row vw-100 mx-0">
        <div class="col vw-100 px-0">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://cdn.shopify.com/s/files/1/0521/3929/4884/files/241123_Strawberry_Website_Banner_cakes_220729_Rakhi_Website_Banner_copy_11.jpg"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://cdn.shopify.com/s/files/1/0521/3929/4884/files/241123_Strawberry_Website_Banner_01_220729_Rakhi_Website_Banner_copy_12.jpg"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://cdn.shopify.com/s/files/1/0521/3929/4884/files/Cream_Cheese_Cake__Web_banners-01.jpg"
                            alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>
<!-- collection -->
<div class="container-fluid py-5" style="background-color: rgb(244, 218, 197);">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Our Collection</h2>
            <div class="container py-2 my-3">
                <div class="row">
                    {% for item in collections %}
                    <div class="col-md-3 text-center collection">
                        <a href="{% url 'collection_detail' item.id %}">
                            <div class="wrapper">
                                <img src="{{item.image.url}}" alt="{{item.name}}" class="img-fluid rounded-circle">
                            </div>
                        </a>
                        <a href="{% url 'collection_detail' item.id %}" class="fs-4 fw-bold text-decoration-none">{{item.name}}</a>
                    </div>
                    {% empty %}
                    {% endfor %}
                    <div class="col text-center">
                        <a href="{% url 'collection_all' %}" class="btn btn-outline-dark btn-lg">
                            View All
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
    integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 5000,
        },
        effect: 'cube',
    });
</script>
{% endblock js %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
    integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .swiper {
        width: 100%;

        background-color: rgb(238, 185, 144);
    }

    .swiper {
        overflow: hidden;
    }

    .swiper-slide>img {
        width: 100%;
        height: 900px;
        object-fit: cover;
    }

    .collection .wrapper {
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
    }

    .collection .wrapper img {
        transform: scale(1.5);
        aspect-ratio: 1/1;
        transition: all 0.35s ease-in-out;
    }

    .collection:hover img {
        transform: scale(1);
    }
</style>
{% endblock css %}