{% load inventory_tags %}
<nav class="navbar navbar-expand-lg navbar-dark px-5" style="background-color: #d94a02;">
    <a class="navbar-brand" href="{% url 'home' %}">Django Bakery</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <form class="d-flex my-2 my-lg-0">
            <input class="form-control me-sm-2" type="text" placeholder="Search" />
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}" aria-current="page">Home <span
                        class="visually-hidden">(current)</span></a>
            </li>
            
            
            <!-- dropdown menu for displaying collections -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                {% get_collections as collection_list %}
                {% for item in collection_list %}
                <a class="dropdown-item" href="{% url 'collection_detail' item.id %}">{{item.name}}</a>
                {% empty %}
                <a class="dropdown-item" href="#">No Collection</a>
                {% endfor %}
                <a class="dropdown-item" href="{% url 'collection_all' %}">All Collections</a>
            </div>
        </li>
        
        <!-- dropdown menu for displaying products -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Products
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
            {% get_products as product_list %}
            {% for item in product_list %}
            <a class="dropdown-item" href="{% url 'product_detail' item.id %}">{{item.name}}</a>
            {% empty %}
            <a class="dropdown-item" href="#">No Product</a>
            {% endfor %}
            <a class="dropdown-item" href="{% url 'product_all' %}">All Products</a>
        </div>
    </li>
    
    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
    <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
    {% if not user.is_authenticated %}
    <div class="btn-group ms-2">
        <li class="btn btn-sm btn-light my-2 my-sm-0 py-0 px-2">
            <a class="nav-link fs-6" href="{% url 'login' %}" style="color: #d94a02;">Login</a>
        </li>
        <li class="btn btn-sm btn-light my-2 my-sm-0 py-0 px-2" style="background-color: #d94a02;">
            <a class="nav-link text-light fs-6" href="{% url 'register' %}">Register</a>
                </li>
            </div>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                </div>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>